@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 52, 53, 58;
    --background-end-rgb: 52, 53, 58; 
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.headerText{
  font-size: 36px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 53px;

}
.bodyText{
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
   font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif; 
  

}
.group:hover .group-hover\\:scale-110 {
  transform: scale(1.10);
}
.onscroll-up {
  transition: transform 0.3s ease-in-out;
}
.testimonial-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.testimonial-section {
  width: 100%;
  max-width: 2000px;
}

.testimonial-content {
  width: 100%;
  max-width: 1000px;
  min-height: 500px;
}

.image-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-image {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.glow {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}
.glow1{
  width: 150px;
  height: 150px;
  background-color: none;

  box-shadow: 120px 80px 40px 20px #0ff;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}
.glow2 {
  width: 200px;
  height: 200px;
  background-color: none;

  box-shadow: 120px 80px 40px 20px #f0f,
             -80px -50px 30px 10px #ff0;
}

.box1{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.box2{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box3{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.box4{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}